.activities {
    margin: 150px 0; 
    margin-left: 5%;
    margin-right: 10%;  
    display: grid; 
    grid-gap: 30px; 
    grid-template-rows: repeat(auto-fit, 1fr); 
}

.activity {
    background-color: rgba(0, 0, 0, 0.7); 
    display: grid; 
    grid-template-columns: 1fr 2fr;  
    grid-gap: 20px; 
    color: white; 
    box-shadow: 0px 0px 30px black;
    letter-spacing: 1px;  
    line-height: 170%; 
    padding: 30px; 
    padding-right: 50px; 
} 

@media only screen and (max-width: 900px) {
    .activity {
        grid-template-columns: 1fr; 
    }
}

